[submodule "llvm"]
	path = third-party/llvm
	url = https://github.com/llvm/llvm-project.git
	branch = main
	shallow = true
[submodule "googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest
	shallow = true
